$editor-gray: #272822;

.navbar {
    background-color: $editor-gray;
    display: flex;

    input.filename {
        padding-left: 20px;
        background-color: $editor-gray;
        border: 0px;
        color: white;
        font-size: 1.2em;
        outline: none;
    }

    .buttons {
        align-self: center;
    }

    a {
        color: white;
        align-self: center;
        font-size: 1.2em;
        margin-left: auto; 
        padding-right: 20px;
    }

}
